body{
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.61);
    margin: 0px;
    border-bottom: solid 7px;
    border-color: black;    
    padding: 10px 5px;
    align-items: center;
}
#imgheader{
    margin-left: 15px;
    width:  70px;
    height: 70px;
    border: solid black 2px;
}
a{
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    text-shadow: black 2px 2px;
}


.nav1{
    transition: transform 100ms linear;
    transition-delay: 0.1s;
}
.nav1::before{
    content: "";
    margin-right: 5px;
    padding: 5px;
    background-color: cyan;
    box-shadow: black 1px 1px;
}
.nav1:hover {
    transform: scale(1.15);
}