.projeto
{
    padding: 110px 130px;
    border: solid 3px;
    border-color: cyan;
    transition: 0.1s cubic-bezier(0, -1.16, 0.97, 2.77);;
}
.projeto:hover
{
    transform: scale(1.10);
}
#projetos
{
    position: absolute;
    margin-top: 17%;
    margin-left: 0%;

}