#background{
    display: flex;
    margin-top: 0px;
    background-image: url(https://1.bp.blogspot.com/-QCi1wBPkE50/Xi0B5a5GoWI/AAAAAAAAlAo/vJmX7VYAay0iVfF1nA1BCKNQql6kCBdeQCLcBGAsYHQ/s2560/plano%2Bde%2Bfundo%2Bpara%2Bpc%2Bhd.jpg);
    background-size: 100% 100%;
    padding-bottom: 350px;
    }
